# DEPENDECIAS
node_modules/
venv/
env/
.venv/
bin/
lib/
share/
Include/

# CONFIGURACION Y SECRETOS
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de base de datos local (SQLLite)
*.sqlite3

# Credenciales de base de datos o backups de Postgres
*.sql
*.dump


# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Django media y static locales
/media
/static
!/static/admin

# Frontend
# Carpetas de compilacion
dist/
build/

Logs de errores de npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Despliegue (CI-CD)
*.pem
*.pub