# --- DEPENDENCIAS Y ENTORNOS ---
node_modules/
frontend/node_modules/
venv/
env/
.venv/
bin/
lib/
share/
Include/

# --- CONFIGURACIÓN Y SECRETOS ---
.env
.env.*
*.local
# Ignora certificados de seguridad
*.pem
*.pub
*.key

# --- BASE DE DATOS ---
*.sqlite3
*.sql
*.dump

# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
/media
/static
!/static/admin

# --- FRONTEND (React / Vite) ---
dist/
frontend/dist/
frontend/dist-ssr/
build/
.vite/

# --- LOGS DE ERRORES ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- ARCHIVOS DE SISTEMA Y EDITORES ---
.DS_Store
Thumbs.db
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
# Configuración de VS Code (mantiene recomendaciones de extensiones)
.vscode/*
!.vscode/extensions.json