# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Entornos Virtuales ---
.venv/
env/
venv/
ENV/
bin/
lib/
include/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Variables de Entorno (SEGURIDAD) ---
.env
.flaskenv

# --- VS Code / IDEs ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Jupyter Notebook ---
.ipynb_checkpoints

# --- Celery ---
celerybeat-schedule