.sidebar {
  width: 260px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  top: 64px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 20px;
  z-index: 1100;
  /* Por encima del contenido */
}

.closed {
  width: 72px;
}

.navMenu {
  flex-grow: 1;
  padding-top: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #5f6368;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 0 50px 50px 0;
  margin-right: 10px;
  text-decoration: none;
}

.icon {
  min-width: 24px;
  font-size: 20px;
  margin-right: 16px;
}

.active {
  background-color: #fce8e6;
  color: #d93025;
  font-weight: 500;
}

/* --- RESPONSIVE --- */

@media (max-width: 768px) {
  .sidebar {
    top: 56px;
    height: calc(100vh - 56px);
    width: 280px;
    left: 0;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  }

  .closed {
    left: -280px;
    width: 280px;
  }

  .navItem {
    padding: 18px 24px;
    margin-bottom: 5px;
  }
}