.sidebar {
  width: 260px;
  height: calc(100vh - 64px); /* Altura total menos el Navbar superior */
  display: flex;
  flex-direction: column; /* Organiza los elementos en vertical */
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  top: 64px;
  transition: width 0.3s ease;
  padding-bottom: 20px; /* Espacio al final */
}

.closed {
  width: 72px; /* Ancho cuando está cerrado estilo Classroom */
}

.logoSection {
  padding: 0 24px 30px;
  color: #c22821; /* Color azul institucional */
  font-size: 1.2rem;
  font-weight: bold;
}

.navMenu {
  flex-grow: 1; /* Esto hace que el menú superior ocupe todo el espacio disponible */
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #5f6368;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 0 50px 50px 0; /* Mantiene el estilo redondeado de Google */
  margin-right: 10px;
  text-decoration: none;
  padding: 25px;
}

.navItem span {
  opacity: 1;
  transition: opacity 0.2s ease;
  text-decoration: none;
}

.closed .navItem span {
  opacity: 0;
  pointer-events: none;
}

.navItem:hover {
  background-color: #fce8e6; /* Un rojo muy claro de fondo */
  color: #d93025; /* Rojo intenso para el texto */
}

.active {
  background-color: #fce8e6; /* Fondo rojo suave */
  color: #d93025; /* Texto e icono en rojo */
  font-weight: 500;
  text-decoration: none;
}

.icon {
  min-width: 24px; /* Asegura que el icono no se mueva al cerrar */
  font-size: 20px;
  margin-right: 16px;
}

.active .icon {
  color: #d93025;
}

.footerSection {
  margin-top: auto; /* ESTO ES LO MÁS IMPORTANTE: Empuja la configuración al fondo */
  border-top: 1px solid #f1f3f4; /* Opcional: una línea sutil divisoria */
  padding-top: 10px;
}
